.App {
  background: url("/src/images/wood-texture.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .lists {
    display: initial;
  }
}
